LOG_LEVEL=INFO

RAW_DATA_DIR=data/raw
INTERIM_DATA_DIR=data/interim
PROCESSED_DATA_DIR=data/processed

DEFAULT_START_DATE=2024-01-01
DEFAULT_END_DATE=2025-12-31

MATCH_RADIUS_METERS=5000

# Paths to traffic data files (required for run_pipeline.py backfill step)
TRAFFIC_BACKFILL_CSV=/path/to/ll_2025.csv
TRAFFIC_STATIONS_FILE=/path/to/LL jaamad.xlsx

# Analüütika andmebaas
POSTGRES_USER=airwolf
POSTGRES_PASSWORD=airwolf
POSTGRES_DB=postgres
DB_PORT_HOST=55432

# Airflow
AIRFLOW_UID=50000
AIRFLOW_USER=airflow
AIRFLOW_PASSWORD=airflow
AIRFLOW_DB=airflow
AIRFLOW_PORT_HOST=8080

AIRFLOW__API_AUTH__JWT_SECRET=airflow_jwt_secret
AIRFLOW__API_AUTH__JWT_ISSUER=airflow

_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

_PIP_ADDITIONAL_REQUIREMENTS=pandas requests psycopg2-binary pyproj
